@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="sayHi">CLICK ME</p>
<p id="result1"></p>

<p class="registration">Click to Register</p>
<div id="result2"></div>

<p class="login">Click to log in</p>
<div id="result4"></div>

<p class="posts">SEE SOME SHIT</p>
<div id="xpPost"></div>