<script type="text/javascript" src="~/scripts/ajaxLogint.js"></script>
<form class="Login" action="LogIn">
    <label for="Email">Email: </label>
    <input type="text" name="Email" />
 
    <label for="Password">Password: </label>
    <input type="password" name="Password" />


    <button type="submit">Submit</button>
</form>
<div id="LogInMessage"></div>
